#nav {
    display: flex;
    border-bottom: 1px solid rgb(41, 38, 38);
    height: 60px;
    margin-top: 1px;
    margin: 1;
    padding: 1;
    background: #808c80;
}

.display-flex {
    display: flex;
}

#logo {
    width: 20%;
    text-align: left;
}

#message {
    width: 60%;
    text-align: center;
}

#logout {
    width: 20%;
    margin-top: 20px;
    margin-right: 10px;
    text-align: end;
    align-items: center;
}
.place-order {
    float:right;
}

.cart-icon{
    width: 50px;
}

table, th, td {
    border: 1px solid;
    width: 100%;
    text-align: center;
}

.total {
    text-align: end;
}